# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Env / logs
.env
.venv
*.log

# BIG data & models — DO NOT COMMIT
examples/hg38/
examples/mm10/
examples/saved_models/
*.h5
*.fa*
*.bam*
*.bw
*.gtf*
*.gz
